/* Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Space+Mono");

:root{
  --main-color:#80CBC4;
  --secondary-color:#fff;
}
*{
  margin:0;
padding: 0;
box-sizing: border-box;
}
body{
  font-family: 'Cairo', sans-serif;

}
.app{
  height: 100vh;
}
.container{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}
.calculator{
  padding: 10px;
  max-width:400px;
  border-radius: 10px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
  background-color:var(--main-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  caret-color: #fff;
}
h1{
  font-size: 40px;
}
input{
  display: block;
  width: 100%;
  height: 100px;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  outline: none;
  border: 2px solid #fff;
  padding: 5px;
  text-align: right;
  font-family: "Space Mono", serif;

}
.calculator-btn{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
button{
  min-height: 50px;
  font-weight: 100;
  cursor: pointer;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  transition: 0.3s;
}
button:hover{
  opacity: 0.8;
}
.btn-span2{
  grid-column: span 2;
}
.btn-span-3{
  grid-column: span 3;
}
/* End Global Rules */
